<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <!-- Оболочка для демонстрации -->
    <div class="wrapper">

        <!-- Контент -->
        <header class="header">
            <div class="container">
                <div class="header__body">
                    <a href="#" class="header__logo">
                        <img src="corporate-logo-removebg-preview.png" alt="logo">
                    </a>
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li>
                                <a href="" class="header__link">Главная</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Контакты</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Заказать онлайн</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Оплата</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Новинки</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Профиль</a>
                            </li>
                        </ul> 

                    </nav>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="content__text">
                    <p>
                        МИНСК, 16 июл - Sputnik. Торжественная церемония закрытия XXXII Международного фестиваля искусств "Славянский базар в Витебске" состоится 16 июля в Летнем амфитеатре.
                    </p>
                    <p>
                        В воскресенье также пройдет второй день конкурса молодых исполнителей, по итогам которого станут известны имена победителей – их назовут во время торжественной церемонии закрытия.
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>